* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v15_11 {
  width: 100%;
  height: 1507px;
  background: rgba(221,39,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v10_11 {
  width: 631px;
  height: 421px;
  background: url("../images/v10_11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 592px;
  left: 1012px;
  overflow: hidden;
  mix-blend-mode: exclusion;
}
.v15_16 {
  width: 294px;
  color: rgba(0,0,0,1);
  position: fixed;
  top: 43px;
  left: 790px;
  font-family: STSong;
  font-weight: normal;
  font-size: 20px;
  opacity: 8;
  text-align: left;
  letter-spacing: 0.825em;
}
.v15_34 {
  width:1300px ;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 105px;
    left: 62px;
    font-family: Hiragino Sans ;
    font-weight: 300;
    font-size: 120px;
    opacity: 1;
    text-align: left;
}
.v15_35 {
  width: 894px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1200px;
  left: 62px;
  font-family: Hiragino Sans;
  font-weight: 150;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v15_351 {
  width: 894px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1200px;
  left: 706px;
  font-family: Hiragino Sans;
  font-weight: 150;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.frame1 {
  position: absolute;
  top: 750px;
  left: 62px;
}
