* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v15_38 {
  width: 100%;
  height: 1117px;
  background: rgba(221,39,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v15_42 {
  width: 100%;
  height: 100%;
  background: url("../images/v15_42.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  top: 3px;
  left: 0px;
  overflow: hidden;
  position: absolute;
width: 1792px;
height: 1120px;
left: 0px;
top: -3px;
background: url(Screen Shot 2022-02-03 at 10.41.png);
mix-blend-mode: color-dodge;

}
.v15_48 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 369px;
  left: 333px;
  font-family: Hiragino Sans;
  font-weight: 200;
  font-size: 120px;
  opacity: 1;
  text-align: left;
}
.v15_49 {
  width: 511px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 49px;
  left: 96px;
  font-family: Helvetica;
  font-weight: Light;
  font-size: 29px;
  opacity: 1;
  text-align: center;
}
