* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v2_4 {
  width: 2000px;
  height: 1117px;
  background: rgba(221,39,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v15_6 {
  width:1300px ;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 105px;
  left: 62px;
  font-family: Hiragino Sans ;
  font-weight: 300;
  font-size: 120px;
  opacity: 1;
  text-align: left;
}
.v15_9 {
  width: 294px;
  color: rgba(0,0,0,1);
  position: fixed;
  top: 43px;
  left: 790px;
  font-family: STSong;
  font-weight: normal;
  font-size: 20px;
  opacity: 8;
  text-align: left;
  letter-spacing: 0.825em;
}
.v15_14 {
  width: 511px;
  color: rgba(0,0,0,1);
  position: fixed;
  top: 800px;
  left: 1282px;
  font-family: Hiragino Sans ;
  font-weight: 150;
  font-size: 29px;
  opacity: 1;
  text-align: center;
  letter-spacing: 0.605em;
}
