* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v2_4 {
  width: 100%;
  height: 1117px;
  background: rgba(221,39,0,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v15_6 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 105px;
  left: 62px;
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 144px;
  opacity: 1;
  text-align: left;
}
.v15_9 {
  width: 294px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 43px;
  left: 717px;
  font-family: times;
  font-weight: normal;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v15_14 {
  width: 511px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1053px;
  left: 482px;
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 29px;
  opacity: 1;
  text-align: center;
}
